<div class="header1 mbr-parallax-background">
    <div class="container">
        <div class="row flex-row-reverse">
            <div class="col-md-6 flex-center">
                <img src="images/banner_t1.png" width="80%" alt="">
            </div>
            <div class="col-md-6 text-center">
                <img src="images/banner_img.png" width="80%" alt="">
            </div>
        </div>
    </div>
</div>