@charset "UTF-8";
*{box-sizing: border-box;}
.w100{
width: 100%;
}
.nopadding{padding: 0;}
section{
	padding-top: 5%;
	padding-bottom: 5%;
	background-color: transparent;

}
.highlight{
	color: #9b2024;
	text-align: center;
	font-size: 1.6rem;
	font-weight: 600;
	margin-bottom: 2rem;
}
.flex-center{
display: flex;
justify-content: center;
align-items:center;}
.flex-center-V{
display: flex;
justify-content: center;
align-items:center;
flex-direction:column;}
/*標題樣式*/
.titleBox{
text-align: center;
padding-bottom: 5%;
}
.titleBox .title{
font-size: 2rem;
}
.titleBox .title:after{
content: '';
width: 50%;
display: block;
height: 3px;
background-color:  #9b2024;
margin: 10px auto;
}
.titleBox2{position: relative; margin-bottom: 2rem;}
.titleBox2:before{
content: '';
position: absolute;
bottom: 0;
width: 30%;
height: 3px;

background-color:  #9b2024;
}
.titleBox2:after{
content: '';
width: 100%;
display: block;
width: 100%;
height: 1px;
background-color:  #9b2024;
}

footer{
	background-color: #9b2024;
	color: #fff;
	padding: 20px;
}


.mainArea{
	padding-top: 5%;
	padding-bottom: 5%;
}


/*選單樣式*/
 
@media(max-width: 991px){
	.navbar-nav:before{
		display: none;
	}
	.navbar-light .navbar-toggler {
    margin-right: 15px;}
}
@media(max-width: 768px){
	footer span{display: block;}
	footer .icon-map{
		padding-top: 20px;
	}
}
