
<%= content_for  :css do %>
    
    <link rel="stylesheet" href="css/product-in.css">

<% end  %>



<div class="header1 cid-r33fHMbSeh mbr-parallax-background">
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-6 flex-center">
                <img src="images/banner_t2.png" width="80%" alt="">
            </div>
            <div class="col-md-6 text-center">
            </div>
        </div>
    </div>
</div>

<!-- mainArea -->
<div class="mainArea">
    <div class="container">

        <div class="titleBox" >
            <h2 class="title" style="color: black;">
                <span class="translation_missing" >
                    <%=t('menu.Glossary')%>
                </span>
            </h2>
        </div>


            <div class="row">

                <div class="col-md-12 ">

                    <% if session[:locale] == "en" %>
                        <%= raw @glossary.content_en%>
                    <% elsif session[:locale] == "zh-TW" %>
                        <%= raw @glossary.content_ch%>
                    <% end %>
                </div>
            </div>
        </div>


</div>
