<!DOCTYPE html>
<html lang="zh-Hant-TW">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no">
    <title>calculateGs</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <style>
        .shape{
            opacity: 0.3;
        }
        .shape:hover{
            opacity: 1.0;
            cursor:pointer;
            border:2px solid rgb(231,55,50);
        }
        .fontAndBorderColor{
            color:rgb(231,55,50);
        }
        .fontBold{
            font-weight:bold;
        }
        .leftBorder{
            border-left:2px solid rgb(231,55,50);
        }
        .paramText{
            text-align: center;
            background: -webkit-linear-gradient(left, rgba(255,128,109,0.6), white);
            background: -o-linear-gradient(left, rgba(255,128,109,0.6), white);
            background: linear-gradient(to right, rgba(255,128,109,0.6), white);
        }
        /*.unitBackground{
            background-color:white;
            text-align:center;
            padding:0px;
        }*/
        .resultBottom{
            border-bottom:1px solid rgb(231,55,50);
        }
        /*.paramBorderLeft{
            border-left:2px solid rgb(231,55,50);
        }*/
        .resultSpan{
            color:rgb(231,55,50);
        }
        span{
            font-family:"Times New Roman";
        }
        .carousel-control-prev-icon,
        .carousel-control-next-icon{
            height: 100px;
            width: 100px;
            outline: black;
            background-size: 100%, 100%;
            background-image: none;
        }
        .carousel-control-next-icon:after{
            content: '>';
            font-size: 35px;
            font-weight:bold;
            color: rgb(231,55,50);
        }
        .carousel-control-prev-icon:after{
            content: '<';
            font-size: 35px;
            font-weight:bold;
            color: rgb(231,55,50);
        }
        #paramArea{
            border-left:3px solid rgb(249,172,184);
            border-bottom:3px solid rgb(249,172,184);
        }
        #calculateGsImgTop{
            width: auto;
            height: 100px;
            max-width: 100%;
            max-height: 100%;
        }
        #calculateGsImg{
            width: 60%;
            height: auto;
            max-width: 100%;
            max-height: 100%;
        }
        .selectImg{
            width:80%;
            display:block;
            margin:auto;
        }
    </style>
</head>

<body>
    <div class="container center">
        <div class="row align-items-center justify-content-center">
            <div class="col-12">
                <img src="./j/images/Tai Han web-56.png" class="img-fluid">
            </div>
        </div>
    </div>
    <div class="container center">
        <br>
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="false">
            <div class="carousel-inner">
                <div id="disc" class="carousel-item active">
                    <img id="discImg" src="./j/images/Tai Han web-57.png" class="d-block w-100 img-z">
                </div>
                <div id="ring" class="carousel-item">
                    <img id="ringImg" src="./j/images/Tai Han web-58.png" class="d-block w-100 shape">
                </div>
                <div id="block" class="carousel-item">
                    <img id="blockImg" src="./j/images/Tai Han web-59.png" class="d-block w-100 shape">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div id="notMobile" class="row align-items-center justify-content-center">
            <!--<div id="disc" class="col-4">
                    <img id="discImg" src="./j/images/Tai Han web-57.png" class="img-fluid">
                </div>
                <div id="ring" class="col-4">
                    <img id="ringImg" src="./j/images/Tai Han web-58.png" class="img-fluid shape">
                </div>
                <div id="block" class="col-4">
                    <img id="blockImg" src="./j/images/Tai Han web-59.png" class="img-fluid shape">
                </div>-->
        </div>
        <div class="mt-5 mb-2 row justify-content-center">
            <div class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-5">
                <div class="row align-items-center justify-content-center">
                    <div id="consoleTopLine" class="row" style="position:relative;left:52%;top:-50px;width:48%;border-top:3px solid rgb(249,172,184);"></div>
                    <div id="consoleTop" class="col-6">
                        <img id="calculateGsImgTop" src="./j/images/U-2019-04-14(3).png" class="img-fluid">
                    </div>
                    <div id="console" class="ml-5 mr-4 p-4" style="border:2px solid rgb(249,172,184);border-radius:30px;">
                        <div class="p-3" style="border:2px solid rgb(249,172,184);border-radius:50px;">
                            <div class="p-4" style="border:2px solid rgb(249,172,184);border-radius:40px;">
                                <div id="calculateGs" class="mb-2 p-2 row align-items-center justify-content-center" style="cursor:pointer;">
                                    <img id="calculateGsImg" src="./j/images/U-2019-04-14(1).png" class="img-fluid" data-toggle="popover" data-placement="left" data-trigger="focus" title="Tip" data-content="Start calculate.">
                                </div>
                                <div class="row align-items-center justify-content-center">
                                    <div class="col-4 align-self-center">
                                        <span class="fontAndBorderColor fontBold">Magnet</span>
                                    </div>
                                    <div class="col-8 align-self-center">
                                        <select class="form-control form-control-sm fontAndBorderColor" id="magnetismGenres">
                                            <option value="N/A">Please select</option>
                                            <option value="NdFeB">NdFeB</option>
                                            <option value="Bonded NdFeB">Bonded NdFeB</option>
                                            <option value="Ferrite">Ferrite</option>
                                            <!--<option value="Flexible Magnet">Flexible Magnet</option>-->
                                            <option value="AlNiCo">AlNiCo</option>
                                            <option value="SmCo">SmCo</option>
                                        </select>
                                    </div>
                                </div>
                                <br>
                                <div class="row align-items-center justify-content-center">
                                    <div class="col-4 align-self-center">
                                        <span class="fontAndBorderColor fontBold">Series</span>
                                    </div>
                                    <div id="seriesDiv" class="col-8 align-self-center">
                                        <select class="form-control form-control-sm fontAndBorderColor" id="series">
                                            <option value="N/A">Please select</option>
                                        </select>
                                    </div>
                                </div>
                                <br>
                                <div class="row align-items-center justify-content-center">
                                    <div class="col-4 align-self-center">
                                        <span class="fontAndBorderColor fontBold">Grade</span>
                                    </div>
                                    <div id="levelDiv" class="col-8 align-self-center">
                                        <select class="form-control form-control-sm fontAndBorderColor" id="level">
                                            <option value="N/A">Please select</option>
                                        </select>
                                    </div>
                                </div>
                                <br>
                                <div class="row align-items-center justify-content-center">
                                    <div class="col-4 align-self-center">
                                        <span class="fontAndBorderColor fontBold">Br</span>
                                    </div>
                                    <div id="sizeBrDiv" class="col-8 align-self-center">
                                        <input id="Br" class="form-control form-control-sm" type="number" min="0" step="1" placeholder="">
                                    </div>
                                </div>
                                <br>
                                <div class="mb-2 row align-items-center justify-content-center">
                                    <div class="col-3 align-self-start">
                                        <span class="fontAndBorderColor fontBold">Size</span>
                                    </div>
                                    <div id="customParam" class="col-9 align-self-center leftBorder">
                                        <div class="mb-2 row align-items-center justify-content-center">
                                            <div class="col-2 align-self-center">
                                                <span class="fontAndBorderColor fontBold">D</span>
                                            </div>
                                            <div id="sizeDDiv" class="col-10 align-self-center">
                                                <input id="discD" class="form-control form-control-sm" type="number" min="0" step="0.001" placeholder="mm">
                                            </div>
                                        </div>
                                        <div class="mb-2 row align-items-center justify-content-center">
                                            <div class="col-2 align-self-center">
                                                <span class="fontAndBorderColor fontBold">H</span>
                                            </div>
                                            <div id="sizeHDiv" class="col-10 align-self-center">
                                                <input id="discH" class="form-control form-control-sm" type="number" min="0" step="0.001" placeholder="mm">
                                            </div>
                                        </div>
                                        <!--<div class="mb-2 row align-items-center justify-content-center">
                            <div class="col-2 align-self-center">
                                <span class="fontAndBorderColor fontBold">x</span>
                            </div>
                            <div id="sizeDDiv" class="col-10 align-self-center">
                                <input class="form-control" type="number" min="0" step="0.001" placeholder="mm">
                            </div>
                            </div>-->
                                    </div>
                                </div>
                                <div class="mb-2 row align-items-center justify-content-center">
                                    <div class="col-4 align-self-center">
                                        <span class="fontAndBorderColor fontBold">*Name</span>
                                    </div>
                                    <div id="nameDiv" class="col-8 align-self-center">
                                        <input id="userName" class="form-control form-control-sm" type="text" placeholder="">
                                    </div>
                                </div>
                                <div class="row align-items-center justify-content-center">
                                    <div class="col-4 align-self-center">
                                        <span class="fontAndBorderColor fontBold">*E-mail</span>
                                    </div>
                                    <div id="emailDiv" class="col-8 align-self-center">
                                        <input id="userEmail" class="form-control form-control-sm" type="email" placeholder="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="paramArea" class="col-12 col-sm-12 col-md-6 col-lg-5 col-xl-5">
                <div id="paramAreaTop" class="row align-items-center justify-content-center">
                    <div class="col-12 mb-4">
                        <img src="./j/images/Tai Han web-65.png" class="img-fluid">
                    </div>
                </div>
                <div class="mb-4 row align-items-center justify-content-center mb-1 paramBorderLeft paramText">
                    <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
                        <span>Surface magnetic flux density(Gap: 0mm)</span>
                    </div>
                    <div class="col-2 col-sm-2 col-md-2 col-lg-1 col-xl-1 unitBackground">
                        <!--<div class="unitBackground">-->
                        <span style="color:red;">B</span>
                        <!--</div>-->
                    </div>
                    <div class="col-10 col-sm-10 col-md-5 col-lg-6 col-xl-6 resultBottom">
                        <div class="row align-items-center justify-content-center">
                            <div id="calculateResultB" class="col-5">
                                <span id="calculateResultBSpan"></span>
                            </div>
                            <div class="col-7">
                                <select class="form-control form-control-sm fontAndBorderColor" id="B_unit">
                                    <option value="Gs">Gs</option>
                                    <option value="T">T</option>
                                </select>
                            </div>
                            <!--<div class="col-4" style="text-align: right;">
                                <span class="resultSpan">mT</span>
                            </div>-->
                        </div>
                    </div>
                </div>
                <div class="mb-4 row align-items-center justify-content-center mb-1 paramBorderLeft paramText">
                    <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
                        <span>Net weight</span>
                    </div>
                    <div class="col-2 col-sm-2 col-md-2 col-lg-1 col-xl-1 unitBackground">
                        <!--<div class="unitBackground">-->
                        <span style="color:red;">　</span>
                        <!--</div>-->
                    </div>
                    <div class="col-10 col-sm-10 col-md-5 col-lg-6 col-xl-6 resultBottom">
                        <div class="row align-items-center justify-content-center">
                            <div id="calculateResultNW" class="col-5">
                                <span></span>
                            </div>
                            <div class="col-7" style="text-align: right;">
                                <span class="resultSpan">g</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-4 row align-items-center justify-content-center mb-1 paramBorderLeft paramText" style="display: none;">
                    <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
                        <span>Attractive force</span>
                    </div>
                    <div class="col-2 col-sm-2 col-md-2 col-lg-1 col-xl-1 unitBackground">
                        <!--<div class="unitBackground">-->
                        <span style="color:red;">F</span>
                        <!--</div>-->
                    </div>
                    <div class="col-10 col-sm-10 col-md-5 col-lg-6 col-xl-6 resultBottom">
                        <div class="row align-items-center justify-content-center">
                            <div id="calculateResultMagnetism" class="col-5">
                                <span></span>
                            </div>
                            <div class="col-7" style="text-align: right;">
                                <span class="resultSpan">kgf</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-4 row align-items-center justify-content-center mb-1 paramBorderLeft paramText">
                    <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
                        <span>Coercive force</span>
                    </div>
                    <div class="col-2 col-sm-2 col-md-2 col-lg-1 col-xl-1 unitBackground">
                        <!--<div class="unitBackground">-->
                        <span style="font-size:12pt;color:red;">bHc</span>
                        <!--</div>-->
                    </div>
                    <div class="col-10 col-sm-10 col-md-5 col-lg-6 col-xl-6 resultBottom">
                        <div class="row align-items-center justify-content-center">
                            <div id="calculateResult_bHc_kOe" class="col-5">
                                <span></span>
                            </div>
                            <div class="col-7">
                                <select class="form-control form-control-sm fontAndBorderColor" id="bHc_unit">
                                    <option value="kOe">kOe</option>
                                    <option value="kA/m">kA/m</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="mb-4 pl-3 row align-items-center justify-content-center mb-1 paramBorderLeft">
                    <div class="mt-2 col-12 col-sm-12 col-md-5 col-lg-7 col-xl-7 paramText">
                        <span></span>
                    </div>
                    <div class="mt-2 col-2 col-sm-2 col-md-2 col-lg-1 col-xl-1">
                        <div class="unitBackground">
                            <span style="font-size:12pt;color:white;">bHc</span>
                        </div>
                    </div>
                    <div class="col-10 col-sm-10 col-md-5 col-lg-4 col-xl-4 resultBottom">
                        <div class="row align-items-center justify-content-center">
                            <div id="calculateResult_bHc_kA_m" class="col-8">
                                <span></span>
                            </div>
                            <div class="col-4">
                                <span class="resultSpan">kA/m</span>
                            </div>
                        </div>
                    </div>
                </div>-->
                <div class="mb-4 row align-items-center justify-content-center mb-1 paramBorderLeft paramText">
                    <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
                        <span>Intrisic coercivity</span>
                    </div>
                    <div class="col-2 col-sm-2 col-md-2 col-lg-1 col-xl-1 unitBackground">
                        <!--<div class="unitBackground">-->
                        <span style="color:red;">iHc</span>
                        <!--</div>-->
                    </div>
                    <div class="col-10 col-sm-10 col-md-5 col-lg-6 col-xl-6 resultBottom">
                        <div class="row align-items-center justify-content-center">
                            <div id="calculateResult_iHc_kOe" class="col-5">
                                <span></span>
                            </div>
                            <div class="col-7">
                                <select class="form-control form-control-sm fontAndBorderColor" id="iHc_unit">
                                    <option value="kOe">kOe</option>
                                    <option value="kA/m">kA/m</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="mb-4 pl-3 row align-items-center justify-content-center mb-1 paramBorderLeft">
                    <div class="mt-2 col-12 col-sm-12 col-md-5 col-lg-7 col-xl-7 paramText">
                        <span></span>
                    </div>
                    <div class="mt-2 col-2 col-sm-2 col-md-2 col-lg-1 col-xl-1">
                        <div class="unitBackground">
                            <span style="color:white;">iHc</span>
                        </div>
                    </div>
                    <div class="col-10 col-sm-10 col-md-5 col-lg-4 col-xl-4 resultBottom">
                        <div class="row align-items-center justify-content-center">
                            <div id="calculateResult_iHc_kA_m" class="col-8">
                                <span></span>
                            </div>
                            <div class="col-4">
                                <span class="resultSpan">kA/m</span>
                            </div>
                        </div>
                    </div>
                </div>-->
                <div class="mb-4 row align-items-center justify-content-center mb-1 paramBorderLeft paramText">
                    <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
                        <span>Maximum Energy Product (BH max)</span>
                    </div>
                    <div class="col-2 col-sm-2 col-md-2 col-lg-1 col-xl-1 unitBackground">
                        <!--<div class="unitBackground">-->
                        <span style="color:red;">　</span>
                        <!--</div>-->
                    </div>
                    <div class="col-10 col-sm-10 col-md-5 col-lg-6 col-xl-6 resultBottom">
                        <div class="row align-items-center justify-content-center">
                            <div id="calculateResult_BH_max_MGOe" class="col-5">
                                <span></span>
                            </div>
                            <div class="col-7">
                                <select class="form-control form-control-sm fontAndBorderColor" id="BHmax_unit">
                                    <option value="MGOe">MGOe</option>
                                    <option value="kJ/m3">kJ/m<sup>3</sup></option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="mb-4 pl-3 row align-items-center justify-content-center mb-1 paramBorderLeft">
                    <div class="mt-2 col-12 col-sm-12 col-md-5 col-lg-7 col-xl-7 paramText">
                        <span></span>
                    </div>
                    <div class="mt-2 col-2 col-sm-2 col-md-2 col-lg-1 col-xl-1">
                        <div class="unitBackground">
                            <span style="color:white;">　</span>
                        </div>
                    </div>
                    <div class="col-10 col-sm-10 col-md-5 col-lg-4 col-xl-4 resultBottom">
                        <div class="row align-items-center justify-content-center">
                            <div id="calculateResult_BH_max_kJ_m3" class="col-8">
                                <span></span>
                            </div>
                            <div class="col-4">
                                <span class="resultSpan">kJ/m<sup>3</sup></span>
                            </div>
                        </div>
                    </div>
                </div>-->
                <div class="mb-4 row align-items-center justify-content-center mb-1 paramBorderLeft paramText">
                    <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
                        <span>Tem. coefficient</span>
                    </div>
                    <div class="col-2 col-sm-2 col-md-2 col-lg-1 col-xl-1 unitBackground">
                        <!--<div class="unitBackground">-->
                        <span style="color:red;">Tc</span>
                        <!--</div>-->
                    </div>
                    <div class="col-10 col-sm-10 col-md-5 col-lg-6 col-xl-6 resultBottom">
                        <div class="row align-items-center justify-content-center">
                            <div id="calculateResultTc" class="col-5">
                                <span></span>
                            </div>
                            <div class="col-7" style="text-align: right;">
                                <span class="resultSpan">%/℃</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-4 row align-items-center justify-content-center mb-1 paramBorderLeft paramText">
                    <div class="col-12 col-sm-12 col-md-5 col-lg-5 col-xl-5">
                        <span>Max. operating tem.</span>
                    </div>
                    <div class="col-2 col-sm-2 col-md-2 col-lg-1 col-xl-1 unitBackground">
                        <!--<div class="unitBackground">-->
                        <span style="color:red;">Tw</span>
                        <!--</div>-->
                    </div>
                    <div class="col-10 col-sm-10 col-md-5 col-lg-6 col-xl-6 resultBottom">
                        <div class="row align-items-center justify-content-center">
                            <div id="calculateResultTw" class="col-5">
                                <span></span>
                            </div>
                            <div class="col-7" style="text-align: right;">
                                <span class="resultSpan">℃</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="penImg" class="col-0 col-sm-0 col-md-0 col-lg-2 col-xl-2 align-self-end" style="padding-left:0px;"></div>
        </div>
        <div id="msgModalDiv"></div>
    </div>
    <script src="./scripts/jquery-3.3.1.min.js"></script>
    <script src="./scripts/popper.min.js"></script>
    <script src="./scripts/bootstrap.min.js"></script>
    <script>
    $(document).ready(function() {
        $basicWdth = $(window).width();
        if ($basicWdth >= 576) {
            $("#carouselExampleControls").empty();
            $("#notMobile").empty();
            $("#notMobile").append('<div id="disc" class="col-4"><img id="discImg" src="./j/images/Tai Han web-57.png" class="selectImg img-fluid"></div><div id="ring" class="col-4"><img id="ringImg" src="./j/images/Tai Han web-58.png" class="selectImg img-fluid shape"></div><div id="block" class="col-4"><img id="blockImg" src="./j/images/Tai Han web-59.png" class="selectImg img-fluid shape"></div>');
            $("#penImg").empty();
            $("#penImg").append('<img src="./j/images/U-2019-04-14.png" class="img-fluid" style="max-width: 100%;height: auto;">');
            $("#console").addClass("mr-4 ml-5");
            $("#consoleTop").css("display", "block");
            $("#consoleTopLine").css("display", "block");
            $("#paramAreaTop").css("margin-top","100px");
        } else {
            $("#notMobile").empty();
            $("#carouselExampleControls").empty();
            $("#carouselExampleControls").append('<div class="carousel-inner"><div id="disc" class="carousel-item active"><img id="discImg" src="./j/images/Tai Han web-57.png" class="d-block w-100"></div><div id="ring" class="carousel-item"><img id="ringImg" src="./j/images/Tai Han web-58.png" class="d-block w-100"></div><div id="block" class="carousel-item"><img id="blockImg" src="./j/images/Tai Han web-59.png" class="d-block w-100"></div></div><a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="sr-only">Previous</span></a><a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span><span class="sr-only">Next</span></a>');
            $("#penImg").empty();
            $("#console").removeClass("mr-4 ml-5");
            $("#consoleTop").css("display", "none");
            $("#consoleTopLine").css("display", "none");
            $("#paramAreaTop").css("margin-top","0px");
        }
        $currentWdth = $(window).width();
        $(window).resize(function() {
            $wdth = $(window).width();
            if ($wdth != $currentWdth) {
                if ($wdth > 991) {
                    $("#penImg").empty();
                    $("#penImg").append('<img src="./j/images/U-2019-04-14.png" class="img-fluid" style="max-width: 100%;height: auto;">');
                    $("#console").addClass("mr-4 ml-5");
                    $("#paramAreaTop").css("margin-top","100px");
                } else {
                    $("#penImg").empty();
                    $("#console").removeClass("mr-4 ml-5");
                    $("#paramAreaTop").css("margin-top","0px");
                }
                if ($currentWdth < 576 && $wdth >= 576) {
                    $("#carouselExampleControls").empty();
                    $("#notMobile").empty();
                    $("#notMobile").append('<div id="disc" class="col-4"><img id="discImg" src="./j/images/Tai Han web-57.png" class="selectImg img-fluid"></div><div id="ring" class="col-4"><img id="ringImg" src="./j/images/Tai Han web-58.png" class="selectImg img-fluid shape"></div><div id="block" class="col-4"><img id="blockImg" src="./j/images/Tai Han web-59.png" class="selectImg img-fluid shape"></div>');
                    $("#discImg").removeClass("shape");
                    $("#blockImg").addClass("shape");
                    $("#ringImg").addClass("shape");
                    $("#customParam").empty();
                    $("#customParam").append('<div class="mb-2 row align-items-center justify-content-center"><div class="col-2 align-self-center"><span class="fontAndBorderColor fontBold">D</span></div><div id="sizeDDiv" class="col-10 align-self-center"><input id="discD" class="form-control form-control-sm number" type="number" min="0" step="0.001" placeholder="mm"></div></div><div class="mb-2 row align-items-center justify-content-center"><div class="col-2 align-self-center"><span class="fontAndBorderColor fontBold">H</span></div><div id="sizeHDiv" class="col-10 align-self-center"><input id="discH" class="form-control form-control-sm number" type="number" min="0" step="0.001" placeholder="mm"></div></div>');
                    $("#console").addClass("mr-4 ml-5");
                    $("#consoleTop").css("display", "block");
                    $("#consoleTopLine").css("display", "block");

                    $currentWdth = $wdth;
                } else if ($currentWdth >= 576 && $wdth < 576) {
                    $("#notMobile").empty();
                    $("#carouselExampleControls").empty();
                    $("#carouselExampleControls").append('<div class="carousel-inner"><div id="disc" class="carousel-item active"><img id="discImg" src="./j/images/Tai Han web-57.png" class="d-block w-100"></div><div id="ring" class="carousel-item"><img id="ringImg" src="./j/images/Tai Han web-58.png" class="d-block w-100"></div><div id="block" class="carousel-item"><img id="blockImg" src="./j/images/Tai Han web-59.png" class="d-block w-100"></div></div><a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev"><span class="carousel-control-prev-icon" aria-hidden="true"></span><span class="sr-only">Previous</span></a><a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next"><span class="carousel-control-next-icon" aria-hidden="true"></span><span class="sr-only">Next</span></a>');
                    $("#discImg").removeClass("shape");
                    $("#blockImg").addClass("shape");
                    $("#ringImg").addClass("shape");
                    $("#customParam").empty();
                    $("#customParam").append('<div class="mb-2 row align-items-center justify-content-center"><div class="col-2 align-self-center"><span class="fontAndBorderColor fontBold">D</span></div><div id="sizeDDiv" class="col-10 align-self-center"><input id="discD" class="form-control form-control-sm number" type="number" min="0" step="0.001" placeholder="mm"></div></div><div class="mb-2 row align-items-center justify-content-center"><div class="col-2 align-self-center"><span class="fontAndBorderColor fontBold">H</span></div><div id="sizeHDiv" class="col-10 align-self-center"><input id="discH" class="form-control form-control-sm number" type="number" min="0" step="0.001" placeholder="mm"></div></div>');
                    $("#console").removeClass("mr-4 ml-5");
                    $("#consoleTop").css("display", "none");
                    $("#consoleTopLine").css("display", "none");
                    $currentWdth = $wdth;
                }
            }

            $("#disc").click(function() {
                $("#customParam").empty();
                $("#customParam").append('<div class="mb-2 row align-items-center justify-content-center"><div class="col-2 align-self-center"><span class="fontAndBorderColor fontBold">D</span></div><div id="sizeDDiv" class="col-10 align-self-center"><input id="discD" class="form-control form-control-sm number" type="number" min="0" step="0.001" placeholder="mm"></div></div><div class="mb-2 row align-items-center justify-content-center"><div class="col-2 align-self-center"><span class="fontAndBorderColor fontBold">H</span></div><div id="sizeHDiv" class="col-10 align-self-center"><input id="discH" class="form-control form-control-sm number" type="number" min="0" step="0.001" placeholder="mm"></div></div>');
                $("#discImg").removeClass("shape");
                $("#ringImg").addClass("shape");
                $("#blockImg").addClass("shape");
            });

            $("#ring").click(function() {
                $("#customParam").empty();
                $("#customParam").append('<div class="mb-2 row align-items-center justify-content-center"><div class="col-2 align-self-center"><span class="fontAndBorderColor fontBold">OD</span></div><div id="sizeODDiv" class="col-10 align-self-center"><input id="ringOD" class="form-control form-control-sm number" type="number" min="0" step="0.001" placeholder="mm"></div></div><div class="mb-2 row align-items-center justify-content-center"><div class="col-2 align-self-center"><span class="fontAndBorderColor fontBold">ID</span></div><div id="sizeIDDiv" class="col-10 align-self-center"><input id="ringID" class="form-control form-control-sm number" type="number" min="0" step="0.001" placeholder="mm"></div></div><div class="mb-2 row align-items-center justify-content-center"><div class="col-2 align-self-center"><span class="fontAndBorderColor fontBold">H</span></div><div id="sizeHDiv" class="col-10 align-self-center"><input id="ringH" class="form-control form-control-sm number" type="number" min="0" step="0.001" placeholder="mm"></div></div>');
                $("#ringImg").removeClass("shape");
                $("#discImg").addClass("shape");
                $("#blockImg").addClass("shape");
            });

            $("#block").click(function() {
                $("#customParam").empty();
                $("#customParam").append('<div class="mb-2 row align-items-center justify-content-center"><div class="col-2 align-self-center"><span class="fontAndBorderColor fontBold">L</span></div><div id="sizeLDiv" class="col-10 align-self-center"><input id="blockL" class="form-control form-control-sm number" type="number" min="0" step="0.001" placeholder="mm"></div></div><div class="mb-2 row align-items-center justify-content-center"><div class="col-2 align-self-center"><span class="fontAndBorderColor fontBold">W</span></div><div id="sizeWDiv" class="col-10 align-self-center"><input id="blockW" class="form-control form-control-sm number" type="number" min="0" step="0.001" placeholder="mm"></div></div><div class="mb-2 row align-items-center justify-content-center"><div class="col-2 align-self-center"><span class="fontAndBorderColor fontBold">H</span></div><div id="sizeHDiv" class="col-10 align-self-center"><input id="blockH" class="form-control form-control-sm number" type="number" min="0" step="0.001" placeholder="mm"></div></div>');
                $("#blockImg").removeClass("shape");
                $("#discImg").addClass("shape");
                $("#ringImg").addClass("shape");
            });

            $(".carousel-control-next, .carousel-control-prev").on("click", function() {
                setTimeout(function() {
                    if ($("#ring").hasClass("active")) {
                        $("#ringImg").removeClass("shape");
                        $("#discImg").addClass("shape");
                        $("#blockImg").addClass("shape");
                        $("#customParam").empty();
                        $("#customParam").append('<div class="mb-2 row align-items-center justify-content-center"><div class="col-2 align-self-center"><span class="fontAndBorderColor fontBold">OD</span></div><div id="sizeODDiv" class="col-10 align-self-center"><input id="ringOD" class="form-control form-control-sm number" type="number" min="0" step="0.001" placeholder="mm"></div></div><div class="mb-2 row align-items-center justify-content-center"><div class="col-2 align-self-center"><span class="fontAndBorderColor fontBold">ID</span></div><div id="sizeIDDiv" class="col-10 align-self-center"><input id="ringID" class="form-control form-control-sm number" type="number" min="0" step="0.001" placeholder="mm"></div></div><div class="mb-2 row align-items-center justify-content-center"><div class="col-2 align-self-center"><span class="fontAndBorderColor fontBold">H</span></div><div id="sizeHDiv" class="col-10 align-self-center"><input id="ringH" class="form-control form-control-sm number" type="number" min="0" step="0.001" placeholder="mm"></div></div>');
                    } else if ($("#block").hasClass("active")) {
                        $("#blockImg").removeClass("shape");
                        $("#discImg").addClass("shape");
                        $("#ringImg").addClass("shape");
                        $("#customParam").empty();
                        $("#customParam").append('<div class="mb-2 row align-items-center justify-content-center"><div class="col-2 align-self-center"><span class="fontAndBorderColor fontBold">L</span></div><div id="sizeLDiv" class="col-10 align-self-center"><input id="blockL" class="form-control form-control-sm number" type="number" min="0" step="0.001" placeholder="mm"></div></div><div class="mb-2 row align-items-center justify-content-center"><div class="col-2 align-self-center"><span class="fontAndBorderColor fontBold">W</span></div><div id="sizeWDiv" class="col-10 align-self-center"><input id="blockW" class="form-control form-control-sm number" type="number" min="0" step="0.001" placeholder="mm"></div></div><div class="mb-2 row align-items-center justify-content-center"><div class="col-2 align-self-center"><span class="fontAndBorderColor fontBold">H</span></div><div id="sizeHDiv" class="col-10 align-self-center"><input id="blockH" class="form-control form-control-sm number" type="number" min="0" step="0.001" placeholder="mm"></div></div>');
                    } else {
                        $("#discImg").removeClass("shape");
                        $("#blockImg").addClass("shape");
                        $("#ringImg").addClass("shape");
                        $("#customParam").empty();
                        $("#customParam").append('<div class="mb-2 row align-items-center justify-content-center"><div class="col-2 align-self-center"><span class="fontAndBorderColor fontBold">D</span></div><div id="sizeDDiv" class="col-10 align-self-center"><input id="discD" class="form-control form-control-sm number" type="number" min="0" step="0.001" placeholder="mm"></div></div><div class="mb-2 row align-items-center justify-content-center"><div class="col-2 align-self-center"><span class="fontAndBorderColor fontBold">H</span></div><div id="sizeHDiv" class="col-10 align-self-center"><input id="discH" class="form-control form-control-sm number" type="number" min="0" step="0.001" placeholder="mm"></div></div>');
                    };
                }, 1000);
            });

        });
        $(".carousel-control-next, .carousel-control-prev").on("click", function() {
            setTimeout(function() {
                if ($("#ring").hasClass("active")) {
                    $("#ringImg").removeClass("shape");
                    $("#discImg").addClass("shape");
                    $("#blockImg").addClass("shape");
                    $("#customParam").empty();
                    $("#customParam").append('<div class="mb-2 row align-items-center justify-content-center"><div class="col-2 align-self-center"><span class="fontAndBorderColor fontBold">OD</span></div><div id="sizeODDiv" class="col-10 align-self-center"><input id="ringOD" class="form-control form-control-sm number" type="number" min="0" step="0.001" placeholder="mm"></div></div><div class="mb-2 row align-items-center justify-content-center"><div class="col-2 align-self-center"><span class="fontAndBorderColor fontBold">ID</span></div><div id="sizeIDDiv" class="col-10 align-self-center"><input id="ringID" class="form-control form-control-sm number" type="number" min="0" step="0.001" placeholder="mm"></div></div><div class="mb-2 row align-items-center justify-content-center"><div class="col-2 align-self-center"><span class="fontAndBorderColor fontBold">H</span></div><div id="sizeHDiv" class="col-10 align-self-center"><input id="ringH" class="form-control form-control-sm number" type="number" min="0" step="0.001" placeholder="mm"></div></div>');
                } else if ($("#block").hasClass("active")) {
                    $("#blockImg").removeClass("shape");
                    $("#discImg").addClass("shape");
                    $("#ringImg").addClass("shape");
                    $("#customParam").empty();
                    $("#customParam").append('<div class="mb-2 row align-items-center justify-content-center"><div class="col-2 align-self-center"><span class="fontAndBorderColor fontBold">L</span></div><div id="sizeLDiv" class="col-10 align-self-center"><input id="blockL" class="form-control form-control-sm number" type="number" min="0" step="0.001" placeholder="mm"></div></div><div class="mb-2 row align-items-center justify-content-center"><div class="col-2 align-self-center"><span class="fontAndBorderColor fontBold">W</span></div><div id="sizeWDiv" class="col-10 align-self-center"><input id="blockW" class="form-control form-control-sm number" type="number" min="0" step="0.001" placeholder="mm"></div></div><div class="mb-2 row align-items-center justify-content-center"><div class="col-2 align-self-center"><span class="fontAndBorderColor fontBold">H</span></div><div id="sizeHDiv" class="col-10 align-self-center"><input id="blockH" class="form-control form-control-sm number" type="number" min="0" step="0.001" placeholder="mm"></div></div>');
                } else {
                    $("#discImg").removeClass("shape");
                    $("#blockImg").addClass("shape");
                    $("#ringImg").addClass("shape");
                    $("#customParam").empty();
                    $("#customParam").append('<div class="mb-2 row align-items-center justify-content-center"><div class="col-2 align-self-center"><span class="fontAndBorderColor fontBold">D</span></div><div id="sizeDDiv" class="col-10 align-self-center"><input id="discD" class="form-control form-control-sm number" type="number" min="0" step="0.001" placeholder="mm"></div></div><div class="mb-2 row align-items-center justify-content-center"><div class="col-2 align-self-center"><span class="fontAndBorderColor fontBold">H</span></div><div id="sizeHDiv" class="col-10 align-self-center"><input id="discH" class="form-control form-control-sm number" type="number" min="0" step="0.001" placeholder="mm"></div></div>');
                };
            }, 1000);
        });
        $fade = function($div) {
            $div.fadeOut();
            $div.fadeIn();
            $div.css("display", "block");
        };
        $createOptions = function($select, $array) {
            for (i = 0; i <= $array.length; i++) {
                if (i == 0) {
                    $select.append($('<option value="N/A">Please select</option>'));
                } else {
                    $select.append($('<option value="' + $array[i - 1] + '">' + $array[i - 1] + '</option>'));
                }
            };
        };
        $checkNumber = function($input) {
            var $RegExp = /^([0-9][1-9]*)(.[0-9]{1,3})?$/;
            if (!$RegExp.test($input.val())) {
                $input.val("");
            }
        };
        $checkEmail = function($input) {
            var $RegExp = /^([a-zA-Z0-9_\.\-\+])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            if ($RegExp.test($input.val())) {
                return true;
            } else {
                return false;
            }
        };
        $appendMsgModal = function($input) {
            $("#msgModalDiv").empty();
            $("#msgModalDiv").append('<div class="modal fade" id="msgModal" tabindex="-1" role="dialog" aria-labelledby="msgModalLabel" aria-hidden="true"><div class="modal-dialog" role="document"><div class="modal-content"><div class="modal-header"><h5 class="modal-title" id="msgModalLabel">Oops</h5><button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button></div><div class="modal-body">' + $input + '</div><div class="modal-footer"><button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button></div></div></div></div>');
            $("#msgModal").modal("show");
        };
        $appendParamResult = function($input, $param) {
            $input.empty();
            $input.append('<span>' + $param + '</span>');
            $fade($input);
        };
        $scrollToResult = function() {
            var $body = (window.opera) ? (document.compatMode == "CSS1Compat" ? $('html') : $('body')) : $('html,body');
            $body.animate({ scrollTop: $('#paramArea').offset().top }, 800);
        };
        $("#magnetismGenres").change(function() {
            switch ($(this).val()) {
                default:
                case "N/A":
                    $("#seriesDiv").css("display", "none");
                    $("#series").empty();
                    break;
                case "NdFeB":
                    $("#series").empty();
                    var $array = ["N series", "M series", "H series", "SH series", "UH series", "EH series", "AH series"];
                    $createOptions($("#series"), $array);
                    $fade($("#seriesDiv"));
                    break;
                case "Bonded NdFeB":
                    $("#series").empty();
                    var $array = ["Bonded NdFeB", "Injection NdFeB"];
                    $createOptions($("#series"), $array);
                    $fade($("#seriesDiv"));
                    break;
                case "Ferrite":
                    $("#series").empty();
                    var $array = ["Ferrite"];
                    $createOptions($("#series"), $array);
                    $fade($("#seriesDiv"));
                    break;
                case "Flexible Magnet":
                    break;
                case "AlNiCo":
                    $("#series").empty();
                    var $array = ["Cast AlNiCo", "Sintered AlNiCo"];
                    $createOptions($("#series"), $array);
                    $fade($("#seriesDiv"));
                    break;
                case "SmCo":
                    $("#series").empty();
                    var $array = ["SmCo5", "Sm2Co17"];
                    $createOptions($("#series"), $array);
                    $fade($("#seriesDiv"));
                    break;
            }
            $("#level").empty();
            $("#level").append('<option value="N/A">Please select</option>');
            $fade($("#levelDiv"));
        });

        $("#series").change(function() {
            switch ($(this).val()) {
                default:
                case "N/A":
                    $("#levelDiv").css("display", "none");
                    $("#level").empty();
                    break;
                case "N series":
                    $("#level").empty();
                    var $array = ["N35", "N38", "N40", "N42", "N45", "N48", "N50", "N52", "N54"];
                    $createOptions($("#level"), $array);
                    $fade($("#levelDiv"));
                    break;
                case "M series":
                    $("#level").empty();
                    var $array = ["N35M", "N38M", "N40M", "N42M", "N45M", "N48M", "N50M", "N52M"];
                    $createOptions($("#level"), $array);
                    $fade($("#levelDiv"));
                    break;
                case "H series":
                    $("#level").empty();
                    var $array = ["N35H", "N38H", "N40H", "N42H", "N46H", "N48H", "N50H"];
                    $createOptions($("#level"), $array);
                    $fade($("#levelDiv"));
                    break;
                case "SH series":
                    $("#level").empty();
                    var $array = ["N33SH", "N35SH", "N38SH", "N40SH", "N42SH", "N45SH"];
                    $createOptions($("#level"), $array);
                    $fade($("#levelDiv"));
                    break;
                case "UH series":
                    $("#level").empty();
                    var $array = ["N30UH", "N33UH", "N35UH", "N38UH", "N40UH", "N42UH"];
                    $createOptions($("#level"), $array);
                    $fade($("#levelDiv"));
                    break;
                case "EH series":
                    $("#level").empty();
                    var $array = ["N30EH", "N33EH", "N35EH", "N38EH"];
                    $createOptions($("#level"), $array);
                    $fade($("#levelDiv"));
                    break;
                case "AH series":
                    $("#level").empty();
                    var $array = ["N30AH", "N35AH"];
                    $createOptions($("#level"), $array);
                    $fade($("#levelDiv"));
                    break;
                case "Bonded NdFeB":
                    $("#level").empty();
                    var $array = ["BN-6", "BN-8", "BN-8L", "BN-9", "BN-10", "BN-11", "BN-11L", "BN-12", "BN-12L"];
                    $createOptions($("#level"), $array);
                    $fade($("#levelDiv"));
                    break;
                case "Injection NdFeB":
                    $("#level").empty();
                    var $array = ["BNI-3", "BNI-4", "BNI-5", "BNI-6", "BNI-7", "BNI-6H", "BNI5SR(PPS)"];
                    $createOptions($("#level"), $array);
                    $fade($("#levelDiv"));
                    break;
                case "Ferrite":
                    $("#level").empty();
                    var $array = ["Y10T", "Y25", "Y26H-2", "Y28H-1", "Y28H-2", "Y30", "Y30H", "Y30H-1", "Y30H-2", "Y32", "Y32H-1", "Y32H-2", "Y32H-3", "Y33", "Y34", "Y35", "Y36", "Y38", "Y40"];
                    $createOptions($("#level"), $array);
                    $fade($("#levelDiv"));
                    break;
                case "Cast AlNiCo":
                    $("#level").empty();
                    var $array = ["AlNiCo1 LN9", "AlNiCo2 LNG12", "AlNiCo2 LNG13", "AlNiCo3 LN10", "AlNiCo5 LNG37", "AlNiCo5DG LNG40", "AlNiCo5DG LNG44", "AlNiCo5-7 LNG52", "AlNiCo6 LNTG28", "AlNiCo7 LNGT18", "AlNiCo8 LNGT32", "AlNiCo8 LNGT40", "AlNiCo 8HC LNGT36J", "AlNiCo9 LNGT60", "AlNiCo9 LNGT72"];
                    $createOptions($("#level"), $array);
                    $fade($("#levelDiv"));
                    break;
                case "Sintered AlNiCo":
                    $("#level").empty();
                    var $array = ["FLN8", "FLNG12", "FLNGT18", "FLNG34", "FLNGT28", "FLNGT38", "FLNGT42", "FLNGT33J"];
                    $createOptions($("#level"), $array);
                    $fade($("#levelDiv"));
                    break;
                case "SmCo5":
                    $("#level").empty();
                    var $array = ["SmCo5 Sm18", "SmCo5 Sm20", "SmCo5 Sm22", "SmCo5 Sm24"];
                    $createOptions($("#level"), $array);
                    $fade($("#levelDiv"));
                    break;
                case "Sm2Co17":
                    $("#level").empty();
                    var $array = ["Sm2Co17 Sm24", "Sm2Co17 Sm26", "Sm2Co17 Sm28", "Sm2Co17 Sm30", "Sm2Co17 Sm32", "Sm2Co17 Sm24H", "Sm2Co17 Sm26H", "Sm2Co17 Sm28H", "Sm2Co17 Sm30H"];
                    $createOptions($("#level"), $array);
                    $fade($("#levelDiv"));
                    break;
            }
        });

        $("#level").change(function() {
            $.ajax({
                url: 'http://house.annaler.com/j/defaultBr.php',
                dataType: 'json',
                type: 'POST',
                data: { magnetismGenres: $("#magnetismGenres").val(), series: $("#series").val(), level: $("#level").val() },
                error: function() {
                    alert('AJAX request error.');
                },
                success: function(data) {
                    $("#Br").val(data.Br);
                },
            });
        });

        $("#B_unit").change(function() {
            if ($("#calculateResultBSpan").text() != "") {
                switch ($(this).val()) {
                    default:
                    case "Gs":
                        $("#calculateResultBSpan").text($("#calculateResultBSpan").text() / 0.0001);
                        break;
                    case "T":
                        $("#calculateResultBSpan").text($("#calculateResultBSpan").text() * 0.0001);
                        break;
                }
            }
        });

        $("#bHc_unit").change(function() {
            if ($("#calculateResult_bHc_kOe").text() != "") {
                switch ($(this).val()) {
                    default:
                    case "kOe":
                        $("#calculateResult_bHc_kOe").text(bHc_kOe);
                        break;
                    case "kA/m":
                        $("#calculateResult_bHc_kOe").text(bHc_kA_m);
                        break;
                }
            }
        });

        $("#iHc_unit").change(function() {
            if ($("#calculateResult_iHc_kOe").text() != "") {
                switch ($(this).val()) {
                    default:
                    case "kOe":
                        $("#calculateResult_iHc_kOe").text(iHc_kOe);
                        break;
                    case "kA/m":
                        $("#calculateResult_iHc_kOe").text(iHc_kA_m);
                        break;
                }
            }
        });

        $("#BHmax_unit").change(function() {
            if ($("#calculateResult_BH_max_MGOe").text() != "") {
                switch ($(this).val()) {
                    default:
                    case "MGOe":
                        $("#calculateResult_BH_max_MGOe").text(BH_max_MGOe);
                        break;
                    case "kJ/m3":
                        $("#calculateResult_BH_max_MGOe").text(BH_max_kJ_m3);
                        break;
                }
            }
        });

        $(".number").keyup(function() {
            $checkNumber($(this));
        });

        $("#disc").click(function() {
            $("#customParam").empty();
            $("#customParam").append('<div class="mb-2 row align-items-center justify-content-center"><div class="col-2 align-self-center"><span class="fontAndBorderColor fontBold">D</span></div><div id="sizeDDiv" class="col-10 align-self-center"><input id="discD" class="form-control form-control-sm number" type="number" min="0" step="0.001" placeholder="mm"></div></div><div class="mb-2 row align-items-center justify-content-center"><div class="col-2 align-self-center"><span class="fontAndBorderColor fontBold">H</span></div><div id="sizeHDiv" class="col-10 align-self-center"><input id="discH" class="form-control form-control-sm number" type="number" min="0" step="0.001" placeholder="mm"></div></div>');
            $fade($("#customParam"));
            $("#discImg").removeClass("shape");
            $("#ringImg").addClass("shape");
            $("#blockImg").addClass("shape");
        });

        $("#ring").click(function() {
            $("#customParam").empty();
            $("#customParam").append('<div class="mb-2 row align-items-center justify-content-center"><div class="col-2 align-self-center"><span class="fontAndBorderColor fontBold">OD</span></div><div id="sizeODDiv" class="col-10 align-self-center"><input id="ringOD" class="form-control form-control-sm number" type="number" min="0" step="0.001" placeholder="mm"></div></div><div class="mb-2 row align-items-center justify-content-center"><div class="col-2 align-self-center"><span class="fontAndBorderColor fontBold">ID</span></div><div id="sizeIDDiv" class="col-10 align-self-center"><input id="ringID" class="form-control form-control-sm number" type="number" min="0" step="0.001" placeholder="mm"></div></div><div class="mb-2 row align-items-center justify-content-center"><div class="col-2 align-self-center"><span class="fontAndBorderColor fontBold">H</span></div><div id="sizeHDiv" class="col-10 align-self-center"><input id="ringH" class="form-control form-control-sm number" type="number" min="0" step="0.001" placeholder="mm"></div></div>');
            $fade($("#customParam"));
            $("#ringImg").removeClass("shape");
            $("#discImg").addClass("shape");
            $("#blockImg").addClass("shape");
        });

        $("#block").click(function() {
            $("#customParam").empty();
            $("#customParam").append('<div class="mb-2 row align-items-center justify-content-center"><div class="col-2 align-self-center"><span class="fontAndBorderColor fontBold">L</span></div><div id="sizeLDiv" class="col-10 align-self-center"><input id="blockL" class="form-control form-control-sm number" type="number" min="0" step="0.001" placeholder="mm"></div></div><div class="mb-2 row align-items-center justify-content-center"><div class="col-2 align-self-center"><span class="fontAndBorderColor fontBold">W</span></div><div id="sizeWDiv" class="col-10 align-self-center"><input id="blockW" class="form-control form-control-sm number" type="number" min="0" step="0.001" placeholder="mm"></div></div><div class="mb-2 row align-items-center justify-content-center"><div class="col-2 align-self-center"><span class="fontAndBorderColor fontBold">H</span></div><div id="sizeHDiv" class="col-10 align-self-center"><input id="blockH" class="form-control form-control-sm number" type="number" min="0" step="0.001" placeholder="mm"></div></div>');
            $fade($("#customParam"));
            $("#blockImg").removeClass("shape");
            $("#discImg").addClass("shape");
            $("#ringImg").addClass("shape");
        });
        $("#userEmail").focus(function() {
            $("#calculateGsImg").popover("show");
        });
        var bHc_kOe = "";
        var bHc_kA_m = "";
        var iHc_kOe = "";
        var iHc_kA_m = "";
        var BH_max_MGOe = "";
        var BH_max_kJ_m3 = "";
        $("#calculateGs").click(function() {
            $("#calculateGsImg").popover("hide");
            if ($("#discImg").hasClass("shape") != true) {
                if ($("#level").val() != "N/A") {
                    if ($("#discD").val() != "") {
                        if ($("#discH").val() != "") {
                            if ($("#userName").val() != "") {
                                if ($checkEmail($("#userEmail"))) {
                                    if ($("#Br").val() == "") {
                                        $("#Br").val("0");
                                    }
                                    $.ajax({
                                        url: 'http://house.annaler.com/j/calculateGs.php',
                                        dataType: 'json',
                                        type: 'POST',
                                        data: { shape: "disc", magnetismGenres: $("#magnetismGenres").val(), series: $("#series").val(), level: $("#level").val(), discH: $("#discH").val(), discD: $("#discD").val(), Br: $("#Br").val(), userName: $("#userName").val(), userEmail: $("#userEmail").val() },
                                        error: function() {
                                            alert('AJAX request error.');
                                        },
                                        success: function(data) {
                                            $appendParamResult($("#calculateResultBSpan"), data.B);
                                            $appendParamResult($("#calculateResultNW"), data.NW);
                                            $appendParamResult($("#calculateResultMagnetism"), data.magnetism);
                                            $appendParamResult($("#calculateResult_bHc_kOe"), data.bHc_kOe);
                                            //$appendParamResult($("#calculateResult_bHc_kA_m"), data.bHc_kA_m);
                                            $appendParamResult($("#calculateResult_iHc_kOe"), data.iHc_kOe);
                                            //$appendParamResult($("#calculateResult_iHc_kA_m"), data.iHc_kA_m);
                                            $appendParamResult($("#calculateResult_BH_max_MGOe"), data.BH_max_MGOe);
                                            //$appendParamResult($("#calculateResult_BH_max_kJ_m3"), data.BH_max_kJ_m3);
                                            $appendParamResult($("#calculateResultTc"), data.Tc);
                                            $appendParamResult($("#calculateResultTw"), data.Tw);
                                            bHc_kOe = data.bHc_kOe;
                                            bHc_kA_m = data.bHc_kA_m;
                                            iHc_kOe = data.iHc_kOe;
                                            iHc_kA_m = data.iHc_kA_m;
                                            BH_max_MGOe = data.BH_max_MGOe;
                                            BH_max_kJ_m3 = data.BH_max_kJ_m3;
                                            $("#B_unit").val("Gs");
                                            $("#bHc_unit").val("kOe");
                                            $("#iHc_unit").val("kOe");
                                            $("#BHmax_unit").val("MGOe");
                                            $scrollToResult();
                                        },
                                    });
                                } else {
                                    $appendMsgModal("Please enter correct E-mail.");
                                }
                            } else {
                                $appendMsgModal("Please enter Name.");
                            }
                        } else {
                            $appendMsgModal("Please enter Size H.");
                        }
                    } else {
                        $appendMsgModal("Please enter Size D.");
                    }
                } else {
                    $appendMsgModal("Please select Magnet, Series, and Grade.");
                }
            } else if ($("#ringImg").hasClass("shape") != true) {
                if ($("#level").val() != "N/A") {
                    if ($("#ringOD").val() != "") {
                        if ($("#ringID").val() != "") {
                            if ($("#ringH").val() != "") {
                                if (parseFloat($("#ringID").val()) < parseFloat($("#ringOD").val())) {
                                    if ($("#userName").val() != "") {
                                        if ($checkEmail($("#userEmail"))) {
                                            if ($("#Br").val() == "") {
                                                $("#Br").val("0");
                                            }
                                            $.ajax({
                                                url: 'http://house.annaler.com/j/calculateGs.php',
                                                dataType: 'json',
                                                type: 'POST',
                                                data: { shape: "ring", magnetismGenres: $("#magnetismGenres").val(), series: $("#series").val(), level: $("#level").val(), ringH: $("#ringH").val(), ringOD: $("#ringOD").val(), ringID: $("#ringID").val(), Br: $("#Br").val(), userName: $("#userName").val(), userEmail: $("#userEmail").val() },
                                                error: function() {
                                                    alert('AJAX request error.');
                                                },
                                                success: function(data) {
                                                    $appendParamResult($("#calculateResultBSpan"), data.B);
                                                    $appendParamResult($("#calculateResultNW"), data.NW);
                                                    $appendParamResult($("#calculateResultMagnetism"), data.magnetism);
                                                    $appendParamResult($("#calculateResult_bHc_kOe"), data.bHc_kOe);
                                                    //$appendParamResult($("#calculateResult_bHc_kA_m"), data.bHc_kA_m);
                                                    $appendParamResult($("#calculateResult_iHc_kOe"), data.iHc_kOe);
                                                    //$appendParamResult($("#calculateResult_iHc_kA_m"), data.iHc_kA_m);
                                                    $appendParamResult($("#calculateResult_BH_max_MGOe"), data.BH_max_MGOe);
                                                    //$appendParamResult($("#calculateResult_BH_max_kJ_m3"), data.BH_max_kJ_m3);
                                                    $appendParamResult($("#calculateResultTc"), data.Tc);
                                                    $appendParamResult($("#calculateResultTw"), data.Tw);
                                                    bHc_kOe = data.bHc_kOe;
                                                    bHc_kA_m = data.bHc_kA_m;
                                                    iHc_kOe = data.iHc_kOe;
                                                    iHc_kA_m = data.iHc_kA_m;
                                                    BH_max_MGOe = data.BH_max_MGOe;
                                                    BH_max_kJ_m3 = data.BH_max_kJ_m3;
                                                    $("#B_unit").val("Gs");
                                                    $("#bHc_unit").val("kOe");
                                                    $("#iHc_unit").val("kOe");
                                                    $("#BHmax_unit").val("MGOe");
                                                    $scrollToResult();
                                                },
                                            });
                                        } else {
                                            $appendMsgModal("Please enter correct E-mail.");
                                        }
                                    } else {
                                        $appendMsgModal("Please enter Name.");
                                    }
                                } else {
                                    $appendMsgModal("Size ID can't greater than or equal to size OD.");
                                }
                            } else {
                                $appendMsgModal("Please enter Size H.");
                            }
                        } else {
                            $appendMsgModal("Please enter Size ID.");
                        }
                    } else {
                        $appendMsgModal("Please enter Size OD.");
                    }
                } else {
                    $appendMsgModal("Please select Magnet, Series, and Grade.");
                }
            } else {
                if ($("#level").val() != "N/A") {
                    if ($("#blockL").val() != "") {
                        if ($("#blockW").val() != "") {
                            if ($("#blockH").val() != "") {
                                if ($("#userName").val() != "") {
                                    if ($checkEmail($("#userEmail"))) {
                                        if ($("#Br").val() == "") {
                                            $("#Br").val("0");
                                        }
                                        $.ajax({
                                            url: 'http://house.annaler.com/j/calculateGs.php',
                                            dataType: 'json',
                                            type: 'POST',
                                            data: { shape: "block", magnetismGenres: $("#magnetismGenres").val(), series: $("#series").val(), level: $("#level").val(), blockH: $("#blockH").val(), blockL: $("#blockL").val(), blockW: $("#blockW").val(), Br: $("#Br").val(), userName: $("#userName").val(), userEmail: $("#userEmail").val() },
                                            error: function() {
                                                alert('AJAX request error.');
                                            },
                                            success: function(data) {
                                                $appendParamResult($("#calculateResultBSpan"), data.B);
                                                $appendParamResult($("#calculateResultNW"), data.NW);
                                                $appendParamResult($("#calculateResultMagnetism"), data.magnetism);
                                                $appendParamResult($("#calculateResult_bHc_kOe"), data.bHc_kOe);
                                                //$appendParamResult($("#calculateResult_bHc_kA_m"), data.bHc_kA_m);
                                                $appendParamResult($("#calculateResult_iHc_kOe"), data.iHc_kOe);
                                                //$appendParamResult($("#calculateResult_iHc_kA_m"), data.iHc_kA_m);
                                                $appendParamResult($("#calculateResult_BH_max_MGOe"), data.BH_max_MGOe);
                                                //$appendParamResult($("#calculateResult_BH_max_kJ_m3"), data.BH_max_kJ_m3);
                                                $appendParamResult($("#calculateResultTc"), data.Tc);
                                                $appendParamResult($("#calculateResultTw"), data.Tw);
                                                bHc_kOe = data.bHc_kOe;
                                                bHc_kA_m = data.bHc_kA_m;
                                                iHc_kOe = data.iHc_kOe;
                                                iHc_kA_m = data.iHc_kA_m;
                                                BH_max_MGOe = data.BH_max_MGOe;
                                                BH_max_kJ_m3 = data.BH_max_kJ_m3;
                                                $("#B_unit").val("Gs");
                                                $("#bHc_unit").val("kOe");
                                                $("#iHc_unit").val("kOe");
                                                $("#BHmax_unit").val("MGOe");
                                                $scrollToResult();
                                            },
                                        });
                                    } else {
                                        $appendMsgModal("Please enter correct E-mail.");
                                    }
                                } else {
                                    $appendMsgModal("Please enter Name.");
                                }
                            } else {
                                $appendMsgModal("Please enter Size H.");
                            }
                        } else {
                            $appendMsgModal("Please enter Size W.");
                        }
                    } else {
                        $appendMsgModal("Please enter Size L.");
                    }
                } else {
                    $appendMsgModal("Please select Magnet, Series, and Grade.");
                }
            }
        });

    });
    $(document).on('keypress', function(e) {
        if (e.which == 13) {
            $("#calculateGs").click();
        }
    });
    </script>
</body>

</html>
